{% load static %}
<!DOCTYPE html>
<html  lang="en"></html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>welcome to HealthCare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Regna - v2.2.1
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <section id="hero">
    <div class="top-left">Health Care Medical</div>
   
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to Regna</h1>
      
    </div>
 <!-- End Hero Section -->

  

    
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li class="menu-has-children"><a href="">Dealer Management</a>
            <ul>
              <li><a href="/shopapp/dealerform/">Add Dealer Details </a></li>
              <li><a href="/shopapp/dealerformview/">View Dealer Details</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Medicine Management</a>
            <ul>
              <li><a href="/shopapp/medicineform/">Add Medicine Details </a></li>
              <li><a href="/shopapp/medicineformview/">View Medicine Details</a></li>
              <li><a href="/shopapp/search_product/">Search Medicine</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Employee Management</a>
            <ul>
              <li><a href="/shopapp/empform/">Add Employee Details </a></li>
              <li><a href="/shopapp/empformview/">View Employee Details</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Customer Management</a>
            <ul>
              <li><a href="/shopapp/customerform/">Add Customer Details </a></li>
              <li><a href="/shopapp/customerformview/">View Customer Details</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Purchase from Dealer</a>
            <ul>
              <li><a href="/shopapp/Dealerpurchaseform/">New Purchase</a></li>
              <li><a href="/shopapp/dealerpurchaseformview/">View Purchase Details</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Purchased by customer</a>
            <ul>
              <li><a href="/shopapp/Customerpurchaseform/">new purchase</a></li>
              <li><a href="/shopapp/custpurchaseformview/">View Purchased Details</a></li>
            </ul>
          </li>
          
          
        </ul>
        
        

      </nav><!-- #nav-menu-container -->

    </div>
  </header>
</section><!-- End Header -->            
  <!-- End #main -->

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  
</body>

</html>